<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--current uri-->
  <add key="uri" value="http://10.1.59.2/xdADWebService/VCFuncs.svc" />
  <add key="SessionTimeOut" value="60" />
  <add key="PrefixID" value="contrac" />
  <add key="RandomID" value="true" />
  <add key="ValidateContractorEmail" value="false" />
  <add key="InstanceUsertype" value="1,3,4" />
  <add key="InstanceName" value="Local" />
</appSettings>