.border2 {
    border: solid;   
    border-color:#666666;
    border-width:1px;
}

.border {
    
   
    border: solid;
    border-color:#666666;
    border-width:1px;
}

h3 {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#33CC99;
}

.RadTile.RadTile_Default.rtileWide.RadContentTemplateTile {
    width: 100%;
    background:#66FF66;
    text-align: center;
    border-color:#66FF66;
}

.AdminTileText {
    padding-top: 20px;
    color:#66FF66;
}

.BackGroundColor {
    background-color:#66FF66;
}

.BorderColor {
    border-color:#66FF66;
    color:#66FF66;
}

.faintgreybackground{
     background-color:#66FF66;
}

.Myheader {
    background-color:#66FF66 !important;
    background-image: none !important;
    font-weight: bold;
}

.rgMasterTable
    {
         font-size: 14px;
        font-family: Arial !important;
        
    }